*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    /* font-family:'Open sans', sans-serif; */
    font-family:Helvetica, sans-serif;
    font-weight:400px;
}
/* utility class start  */

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.fl{
    float:left;
}
ul{
    list-style-type:none;
    display:inline-block;
}
li{
    display:inline-block;
}
.botton{
    background-color:#3161ff;
    display:inline-block;
    width:55px;
    height:30px;
    text-align:center;
    line-height:30px;
    font-size:15px;
    font-weight:300;
}
.container-1{
    width:1150px;
    margin:0 auto;
}
.container-2{
    width:1000px;
    margin:150px auto 0 auto;
}

.spazio-sopra{
    margin-top:40px;
}

/* utility class end  */
/* inizio classi del nav  */

.contain-nav{
    width:100%;
    height:100px;
    padding-top:20px;
    /* border:1px solid black; */
}
.contain-nav .logo{
    width:10%;
    height:50px;
    padding:15px;
    /* border:1px solid black; */
}
.contain-nav .center-nav{
    width:80%;
    height:50px;
    padding:15px;
    /* border:1px solid black;  */
}
.contain-nav .login{
    width:10%;
    height:50px;
    padding:10px;
    /* border:1px solid black; */
}
.contain-nav .logo img{
    width:100px;
}
.contain-nav section.nav-sx, section.nav-dx{
    display:inline-block;
}
.contain-nav section.nav-sx li{
    margin-left:20px;
}
.contain-nav section.nav-sx li:first-child{
    margin-left:0px;
}
.contain-nav section.nav-dx{
    float:right;
}
.contain-nav section.nav-dx li{
    margin-left:20px;
}
.contain-nav .login{
    text-align:right;
    color:white;
}
/* fine classi nav  */
/* inizio classi header è il content-first*/
header{
    width:100%;
    height:520px;
    background-color:#b4d0e8;
}
.space{
    padding-top:40px;
}
.content-first h1{
    font-size:40px;
    font-weight:800;
}
.content-first .text{
    width:30%;
    height:400px;
    margin-top:20px;
    margin-right:20px;
    /* border:1px solid black; */
}
.content-first .box-image{
    width:calc(70% - 20px);
    margin-top:20px;
    /* border:1px solid black; */
}
.content-first .text p{
    line-height:25px;
    font-size:15px;
}
.content-first .text .botton{
    width:200px;
    color:white;
    margin-top:20px;
    height:35px;
    line-height:35px;
    margin-bottom:10px;
}
.content-first .text #annulla{
    font-size:12px;
}
.content-first .text #arrow{
    font-size:50px;
    margin-top:15px;
}
.content-first .box-image img{
    width:100%;
    background-position:bottom;
}
/* fine classi header con contenuto con lo sfondo*/
/* inizio classi per il secondo contenuto */

.second-content h1{
    text-align:left;
    font-size:44px;
}
.radio{
    margin-top:30px;
}
input[type="radio"]{
    margin-left:30px;
}
.second-content .radio input:first-child{
    margin-left:0;
}
.second-content .first-square{
    width:calc(100% / 3 - 10px);
    height:700px;
    margin-right:10px;
    margin-top:50px;
    border:1px solid black;
}
.second-content .second-square{
    width:calc(100% / 3 - 20px);
    height:700px;
    margin-right:10px;
    margin-left:10px;
    margin-top:50px;
    border:1px solid black;
}
.second-content .third-square{
    width:calc(100% / 3 - 10px);
    height:700px;
    margin-left:10px;
    margin-top:50px;
    border:1px solid black;
}
.second-content .first-square .singolo{
    width:100%;
    height:60px;
    text-align:center;
    line-height:60px;
    border-bottom:1px solid black;
}
.second-content .second-square .team{
    width:100%;
    height:60px;
    text-align:center;
    line-height:60px;
    border-bottom:1px solid black;
}
.second-content .third-square .team{
    width:100%;
    height:60px;
    text-align:center;
    line-height:60px;
    border-bottom:1px solid black;
}
.second-content .first-square img{
    width:30px;
    height:30px;
    vertical-align:middle;
}
.second-content .second-square img{
    width:30px;
    vertical-align:middle;
}
.second-content .third-square img{
    width:30px;
    vertical-align:middle;
}
.spazio-interno{
    padding:15px;
}
.second-content .altezza-logo{
    height:40px;
    display:inline-block;
}
.utenti{
    height:50px;
}
.altezza{
    height:50px;
    display:inline-block;
}
.utente{
    display:inline-block;
}
/* fine classi per il secondo contenuto */
/* inizio classe per il terzo contenuto  */
.third-content .container-terzo-contenuto{
    width:100%;
    height:300px;
    border:1px solid black;
}
.third-content .team-2{
    width:100%;
    height:60px;
    text-align:center;
    line-height:60px;
    border-bottom:1px solid black;
}
.third-content .team-2 img{
    width:30px;
    height:30px;
    vertical-align:middle;
}
.third-content .text{
    width:calc(60% - 10px);
    height:150px;
    margin-top:20px;
    margin-right:10px;
    border:1px solid black;
}
.third-content .botton-right{
    width:40%;
    height:60px;
    margin-top:20px;
    border:1px solid black; 
}
/* inizio quarto contenuto  */
.fourth-content .float-image{
    width:calc(60% - 30px);
    height:500px;
    border:1px solid black;
}
.fourth-content .float-text{
    width:40%;
    height: 250px;
    margin: 150px 0 0 30px;
    border:1px solid black;
}
/* fine quarto 4 contenuto */
/* inizio quinto 5 contenuto */
.fifth-content h1{
    text-align:left;
    font-size:44px;
}
.fifth-content .contenuto-1{
    width:calc(100% / 3 - 10px);
    height: 450px;
    margin-right:10px;
    border:1px solid black;
}
.fifth-content .contenuto-2{
    width:calc(100% / 3 - 20px);
    height: 450px;
    margin-right:10px;
    margin-left:10px;
    border:1px solid black;
}
.fifth-content .contenuto-3{
    width:calc(100% / 3 - 10px);
    height: 450px;
    margin-left:10px;
    border:1px solid black;
}
.fifth-content .contenuto-4{
    width:calc(100% / 3 - 10px);
    height: 450px;
    margin-right:10px;
    margin-top:60px;
    border:1px solid black;
}
.fifth-content .contenuto-5{
    width:calc(100% / 3 - 20px);
    height: 450px;
    margin-right:10px;
    margin-left:10px;
    margin-top:60px;
    border:1px solid black;
}
.fifth-content .contenuto-6{
    width:calc(100% / 3 - 10px);
    height: 450px;
    margin-left:10px;
    margin-top:60px;
    border:1px solid black;
}

/* fine quinto 5 contenuto */
/* inizio contenuto del sesto  */
/* titolo */
.six-content h1{
    text-align:left;
    font-size:44px;
}
.six-content .link{
    margin:40px 0 40px 0;
    color:#5291ff;
}
.six-content .link a{
    color:#5291ff;
}
.six-content .square-container-sx{
    width:33%;
    height:500px;
    border:1px solid black;
}


/* fine contenuto sesto */