*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    /* font-family:'Open sans', sans-serif; */
    font-family:Helvetica, sans-serif;
    font-weight:400px;
}
/* utility class start  */
.container-main{
    width:1250px;
    margin:0 auto;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.fl{
    float:left;
}
ul{
    list-style-type:none;
    display:inline-block;
}
li{
    display:inline-block;
}
.botton{
    background-color:#3161ff;
    display:inline-block;
    width:55px;
    height:30px;
    text-align:center;
    line-height:30px;
    font-size:15px;
    font-weight:300;
}
.container-1{
    width:1150px;
    margin:0 auto;
}
.container-2{
    width:1000px;
    margin:150px auto 0 auto;
}

.spazio-sopra{
    margin-top:40px;
}

/* utility class end  */
/* inizio classi del nav  */

.contain-nav{
    width:100%;
    height:100px;
    padding-top:20px;
    /* border:1px solid black; */
}
.contain-nav .logo{
    width:10%;
    height:50px;
    padding:15px;
    /* border:1px solid black; */
}
.contain-nav .center-nav{
    width:80%;
    height:50px;
    padding:15px;
    /* border:1px solid black;  */
}
.contain-nav .login{
    width:10%;
    height:50px;
    padding:10px;
    /* border:1px solid black; */
}
.contain-nav .logo img{
    width:100px;
}
.contain-nav section.nav-sx, section.nav-dx{
    display:inline-block;
}
.contain-nav section.nav-sx li{
    margin-left:20px;
}
.contain-nav section.nav-sx li:first-child{
    margin-left:0px;
}
.contain-nav section.nav-dx{
    float:right;
}
.contain-nav section.nav-dx li{
    margin-left:20px;
}
.contain-nav .login{
    text-align:right;
    color:white;
}
/* fine classi nav  */
/* inizio classi header è il content-first*/
header{
    width:100%;
    height:520px;
    background-color:#b4d0e8;
}
.space{
    padding-top:40px;
}
.content-first h1{
    font-size:40px;
    font-weight:800;
}
.content-first .text{
    width:30%;
    height:400px;
    margin-top:20px;
    margin-right:20px;
    /* border:1px solid black; */
}
.content-first .box-image{
    width:calc(70% - 20px);
    margin-top:20px;
    /* border:1px solid black; */
}
.content-first .text p{
    line-height:25px;
    font-size:15px;
}
.content-first .text .botton{
    width:200px;
    color:white;
    margin-top:20px;
    height:35px;
    line-height:35px;
    margin-bottom:10px;
}
.content-first .text #annulla{
    font-size:12px;
}
.content-first .text #arrow{
    font-size:50px;
    margin-top:15px;
}
.content-first .box-image img{
    width:100%;
    background-position:bottom;
}
/* fine classi header con contenuto con lo sfondo*/
/* inizio classi per il secondo contenuto */

.second-content h1{
    text-align:left;
    font-size:44px;
}
.radio{
    margin-top:30px;
}
input[type="radio"]{
    margin-left:30px;
}
.second-content .radio input:first-child{
    margin-left:0;
}
.second-content .first-square{
    width:calc(100% / 3 - 10px);
    height:900px;
    margin-right:10px;
    margin-top:50px;
    border:1px solid black;
}
.second-content .second-square{
    width:calc(100% / 3 - 20px);
    height:900px;
    margin-right:10px;
    margin-left:10px;
    margin-top:50px;
    border:1px solid black;
}
.second-content .third-square{
    width:calc(100% / 3 - 10px);
    height:900px;
    margin-left:10px;
    margin-top:50px;
    border:1px solid black;
}
.second-content .first-square .singolo{
    width:100%;
    height:60px;
    text-align:center;
    line-height:60px;
    border-bottom:1px solid black;
}
.second-content .second-square .team{
    width:100%;
    height:60px;
    text-align:center;
    line-height:60px;
    border-bottom:1px solid black;
}
.second-content .third-square .team{
    width:100%;
    height:60px;
    text-align:center;
    line-height:60px;
    border-bottom:1px solid black;
}
.second-content .first-square img{
    width:30px;
    height:30px;
    vertical-align:middle;
}
.second-content .second-square img{
    width:30px;
    vertical-align:middle;
}
.second-content .third-square img{
    width:30px;
    vertical-align:middle;
}
.spazio-interno{
    padding:15px;
}
.interlinea{
    line-height:35px;
}
.spazio-interno .price{
    font-weight:bold;
    margin-top:15px;
}
.spazio-interno .mese{
    color:gray;
    margin-top:15px;
}
.spazio-interno .mese-1{
    color:gray;
    
}
.spazio-interno .logo-image{
    margin-top:40px;
}
.spazio-interno .logo-image-2{
    margin-top:20px;
}
.spazio-interno .prova{
    display:inline-block;
    width:230px;
    vertical-align:top;
    margin-top:15px;
}
.prova-2{
    display:inline-block;
    width:30px;
    vertical-align:top;
    margin-top:10px;
}
.gratis{
    width:100%;
    height:40px;
    line-height:40px;
    color:white;
    margin:40px 0 0 0;
}
.b-space{
    margin-top:46px;
}
.acquista{
    margin-top:20px;
}
.spazio-interno hr{
    width:100px;
    margin-top:40px;
}
.text-bottom h4{
    margin-top:40px;
}
.text-bottom .margin{
    margin-top:20px;
}
.text-bottom .spunta{
    display:inline-block;
    width:10px;
    vertical-align:middle;
    color:#3161ff;
}
.text-bottom .text-spunta{
    display:inline-block;
    width:240px;
    vertical-align:top;
}
/* fine classi per il secondo contenuto */
/* inizio classe per il terzo contenuto  */
.third-content .container-terzo-contenuto{
    width:100%;
    height:300px;
    border:1px solid black;
}
.third-content .team-2{
    width:100%;
    height:60px;
    text-align:center;
    line-height:60px;
    border-bottom:1px solid black;
}
.third-content .team-2 img{
    width:40px;
    height:30px;
    vertical-align:middle;
}
.third-content .text{
    width:calc(70% - 10px);
    height:150px;
    margin-top:20px;
    margin-right:10px;
}
.third-content .botton-right{
    width:30%;
    height:60px;
    margin-top:20px; 
}
.container-terzo-contenuto .spazio-interno{
    padding-left:30px;
    padding-right:30px;
}
.ufficio-vendite{
    width:100%;
    height:50px;
    line-height:50px;
    color:white;
}
.text h3{
    font-size:30px;
}
.text .contatto{
    margin:20px 0 0 0;
    font-weight:bold;
}
.text .soluzioni{
    margin:20px 0 0 0;
    font-size:13px;
}
/* inizio quarto contenuto  */
.fourth-content .float-image{
    width:calc(60% - 60px);
    height:500px;
}
.fourth-content .float-text{
    width:40%;
    height: 300px;
    margin: 100px 0 0 60px;
}
.fourth-content .float-image img{
    width:100%;
}
.fourth-content .float-text h3{
    font-size:30px;
}
.fourth-content p, .vicino-image{
    margin-top:30px;
}
.fourth-content .botton{
    width:200px;
    height:40px;
    font-weight:bold;
    line-height:40px;
    background-color:white;
    border:1px solid black;
}

/* fine quarto 4 contenuto */
/* inizio quinto 5 contenuto */
.fifth-content h1{
    text-align:left;
    font-size:44px;
}
.fifth-content .contenuto-1{
    width:calc(100% / 3 - 20px);
    height: 500px;
    margin-right:20px;
}
.fifth-content .contenuto-2{
    width:calc(100% / 3 - 40px);
    height: 500px;
    margin-right:20px;
    margin-left:20px;
}
.fifth-content .contenuto-3{
    width:calc(100% / 3 - 20px);
    height: 500px;
    margin-left:20px;
}
.fifth-content .contenuto-4{
    width:calc(100% / 3 - 20px);
    height: 500px;
    margin-right:20px;
    margin-top:60px;
}
.fifth-content .contenuto-5{
    width:calc(100% / 3 - 40px);
    height: 500px;
    margin-right:20px;
    margin-left:20px;
    margin-top:60px;
}
.fifth-content .contenuto-6{
    width:calc(100% / 3 - 20px);
    height: 500px;
    margin-left:20px;
    margin-top:60px;
}
.centratura-img{
    text-align:center;
}
.fifth-content .centratura-img img{
    width:90%;
}
.intro{
    font-size:28px;
    margin-top:20px;
}
.correzione{
    margin-top:35px;
}
.intro-2{
    margin-top:20px;
}

/* fine quinto 5 contenuto */
/* inizio contenuto del sesto  */
/* titolo */
.six-content h1{
    text-align:left;
    font-size:44px;
}
.six-content .link{
    margin:40px 0 40px 0;
    color:#5291ff;
}
.six-content .link a{
    color:#5291ff;
}
.six-content .square-container-sx{
    width:calc(100% / 3);
    height:500px;
}
.six-content .square-container-center{
    width:calc(100% / 3);
    height:500px;
}
.six-content .square-container-dx{
    width:calc(100% / 3);
    height:500px;
}
.square-1, .square-2, .square-3, .square-4{
    width:50%;
    height:50%;
    position:relative;
}
/* quadrati sulla sinistra */
.posizione{
    width:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    filter:invert(100%);
}
.six-content .square-1.green{
    background-color:#a3d49c;
}
.six-content .square-2.rosso-granata{
    background-color:#610227;
}
.six-content .square-3.blu{
    background-color:#1e94cf;
}
.six-content .square-4.rosso-chiaro{
    background-color:#fe1617;
}
/* quadrati sulla destra */
.six-content .square-1.rosso{
    background-color:#d60819;
}
.six-content .square-2.azzurro{
    background-color:#b6d1e8;
}
.six-content .square-3.blu-scuro{
    background-color:#152082;
}
.six-content .square-4.giallo{
    background-color:#fcd92e;
}
/* centrale */
.six-content .square-container-center{
    background-color:#f5f5f5;
    padding:25px;
}
/* immagine quadrati */
.six-content .square-container-center img{
    width:25%;
    margin-top:30px;
}
.six-content .square-container-center hr{
    width:10%;
    margin-top:30px;
}
.six-content .square-container-center p{
    margin-top:30px;
    font-weight:200;
    font-size:12px;
    line-height:25px;
}
.six-content .square-container-center .firma{
    margin-top:30px;
    font-weight:200;
    font-size:15px;
}
/* inizio classi sfondo del sesto contenuto */

.sfondo{
    background-color:#b6d1e8;
    width:100%;
    height:250px;
}
.sfondo .no-margin{
    margin-top:0;
}
.sfondo .text-prova-gratuita{
    width:calc(70% - 20px);
    height:150px;
    margin:90px 20px 0 0;
}
.sfondo .prova-gratuita{
    width:30%;
    height: 60px;
    margin:90px 0 0 0;
}
.sfondo .text-prova-gratuita h1{
    font-size:35px;
    color:#670f33;
}
.sfondo .modifica-pulsante{
    width:100%;
    height:60px;
    line-height:60px;
    background-color: white;
}
/* fine classi dello sfondo del sesto contenuto */
/* fine contenuto sesto */
/* inzio classi del settimo contenuto*/
.seven-content h1{
    font-size:35px;
    margin-bottom:40px;
}
.seven-content .contenuto-domande{
    width:100%;
    padding:35px 35px 35px 0;   
    border-top:1px solid gray;
}
.seven-content .contenuto-domande:last-child{
    border-bottom:1px solid gray;
}
.testo-domande{
    position:relative;
}
.testo-domande img{
    width:20px;
    vertical-align:middle;
    position:absolute;
    right:30px;
}
/* fine classi del settimo contenuto */
/* inizio classi footer piè di pagina */
footer{
    width:100%;
    height:600px;
    margin-top:150px;
    background-color:black;
    color:white;
}
[class*=riquadro]{
    width:calc(100% / 5 - 40px);
    height:200px;
}
.f-1{
    margin:150px 20px 0 0;
    width:calc(100% / 5 - 20px);
}
.f-2{
    margin:150px 20px 0 20px;
}
.f-3{
    margin:150px 20px 0 20px;
}
.f-4{
    margin:150px 20px 0 20px;
}
.f-5{
    width:calc(100% / 5 - 20px);
    margin:150px 0 0 20px;
}
.riquadro .box-tittle{
    margin-bottom:20px;
}
.riquadro ul li{
    font-weight:300;
    font-size:12px;
    display:block;
    line-height:25px;
}
.lenguages hr{
    width:10%;
}
.lenguages img{
    width:30px;
    vertical-align:middle;
}
.lenguages{
    margin-top:100px;
}
.ita{
    display:inline-block;
    vertical-align:middle;
    color:#666666;
}
/* fine classi footer piè di pagina */